---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "About Us">
  <div class="mb-5">
    <div class="text-xl text-center w-full font-medium">About On-Chain News</div>
  </div>
   <div class="divider my-0"></div>
  On-Chain News is made up of researchers with a passion for all things cryptocurrency. Our goal is to provide our readers with the latest, most accurate, and unbiased news and analysis on the world of digital currencies.
  Staying up to date on the latest developments in the crypto space and working tirelessly to bring you the most relevant and important information. 
  We also offer in-depth analysis and commentary on the latest trends and happenings in the crypto world, helping our readers to stay informed and make informed decisions.
  We hope you find our coverage informative and helpful.
     <div class="divider my-0"></div>
</BaseLayout>
