---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About Us</div>
  </div>

  <div class="mb-10 text-justify">
  Crypto News Observer covers the crypto industry's latest news, characters and interesting projects to showcase,
   while also maintaining trust of readers by conducting our reporting and information in a fully transparent manner.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Crypto News Observer Policy</div>
  </div>
  
  <div class="mb-5">
    <div class="text-xl w-full font-semibold"><div class="mb-5">
     We adhere to a strict editorial policy based on trust, transparency, objectivity, and quality sourcing.
     We vet all featured companies and advertisers to make sure they are honest, legitimate businesses in crypto or web3. 
     We DO NOT conduct business with companies that use deceptive marketing or try to engage in negative advertising aginst other companies.   
      </div>
  </div>

 
</BaseLayout>
