---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "About Us">
  <div class="mb-5">
    <div class="text-2xl w-full font-medium">About Us</div>
  </div>

  <div class="mb-5">
    <div class="text-md w-full font-normal">
  On-Chain News is made up of researchers with a passion for all things cryptocurrency. Our goal is to provide our readers with the latest, most accurate, and unbiased news and analysis on the world of digital currencies.
  Staying up to date on the latest developments in the crypto space and working tirelessly to bring you the most relevant and important information. 
  We also offer in-depth analysis and commentary on the latest trends and happenings in the crypto world, helping our readers to stay informed and make informed decisions.
  Thank you for choosing our website as your go-to source for all things crypto. We hope you find our coverage informative and helpful.
     </div>
  </div>
  
   <div class="divider my-0"></div>
  
  <div class="mb-5">
    <div class="text-2xl w-full font-medium">On-Chain News Policy</div>
  </div>
  
  <div class="mb-5">
    <div class="text-md w-full font-normal">
  On-Chain News is committed to providing our readers with accurate, fair, and unbiased coverage of the world of digital currencies. To achieve this goal, we have established the following news policy:

  Accuracy: We strive to ensure that all of the information we publish is accurate and based on reliable sources. If we discover that any information we have published is incorrect, we will promptly issue a correction.

  Fairness: We strive to present all sides of a story and to give equal weight to differing viewpoints. We will not allow our personal opinions or biases to influence the content we publish.

  Unbiased: We will not allow commercial or financial interests to influence the content we publish. We will disclose any conflicts of interest that may arise.  
     
  Transparency: We will be transparent about our sources and will clearly label any content that is opinion or analysis rather than news.

  Confidentiality: We will respect the confidentiality of our sources and will not disclose their identities unless it's a legal situation or we are required to do so by law.

  We are committed to upholding these principles in all of our coverage and welcome feedback from our readers if you feel we are not upholding these standards.    
    </div>
  </div>
  
  <div class="divider my-0"></div>


</BaseLayout>
