---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "About Us">
  <div class="mb-5">
    <div class="text-3xl w-full font-medium">About Us</div>
  </div>

  <div class="mb-5">
    <div class="text-xl w-full font-normal">
  Crypto News Observer covers the crypto industry's latest news, characters and interesting projects to showcase,
   while also maintaining trust of readers by conducting our reporting and information in a fully transparent manner.
     </div>
  </div>
  
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5265597461872915"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-5265597461872915"
     data-ad-slot="1995746015"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  
  <div class="mb-5">
    <div class="text-2xl w-full font-medium">Crypto News Observer Policy</div>
  </div>
  
  <div class="mb-5">
    <div class="text-xl w-full font-normal">
     We adhere to a strict editorial policy based on trust, transparency, objectivity, and quality sourcing.
     We vet all featured companies and advertisers to make sure they are honest, legitimate businesses in crypto or web3. 
     We DO NOT conduct business with companies that use deceptive marketing or try to engage in negative advertising aginst other companies.   
      </div>
  </div>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5265597461872915"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-5265597461872915"
     data-ad-slot="4788881573"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> 

</BaseLayout>
