---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "About Us">
  <div class="mb-5">
    <div class="text-2xl w-full font-medium">About Us</div>
  </div>

  <div class="mb-5">
    <div class="text-md w-full font-normal">
  On-Chain News covers the crypto industry's latest news, characters and interesting projects to showcase,
   while also maintaining trust of readers by conducting our reporting and information in a fully transparent manner.
     </div>
  </div>
  
   <div class="divider my-0"></div>
  
  <div class="mb-5">
    <div class="text-2xl w-full font-medium">On-Chain News Policy</div>
  </div>
  
  <div class="mb-5">
    <div class="text-md w-full font-normal">
     We adhere to a strict editorial policy based on trust, transparency, objectivity, and quality sourcing.
     We vet all featured companies to make sure they are honest, legitimate businesses in crypto or web3. 
     We DO NOT conduct business with companies that use deceptive marketing or try to engage in negative advertising aginst other companies.   
      </div>
  </div>
  
  <div class="divider my-0"></div>


</BaseLayout>
