---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Disclaimers">
  <div class="mb-5">
    <div class="text-center text-md w-full font-medium">Press Release Disclaimer</div>
  </div>
  
  <div class="mb-5">
    <div class="text-sm w-full font-normal">
      <p>Disclaimer: Press Releases are paid for by advertising firms, PR firms, or other marketing agencies. We offer Press Releases to our advertisers to help fund our day-to-day business operations at On-Chain News. All Press Releases are vetted and have to be approved for publishing, 
                     however if you see a Press Release which you believe is fraudulent, please <a href="mailto:admin@on-chain.news">contact us</a> and we will gladly look into.</p>
  </div>
  </div>
  
  	  <div class="divider my-0"></div>

  
</BaseLayout>
