---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Submissions">
  <div class="mb-5">
    <div class="text-center text-2xl w-full font-medium">Submit Press Release</div>
  </div>
  
     <div class="divider my-3"></div>

  <div class="mb-5">
    <div class="text-md w-full font-normal">
      Fill out the form below to submit your press release. After you submit the form you will be redirected to Coinbase Commerce to submit payment.
      Once your press release has been approved and you've submitted the payment we will notify you of publication time and details.
      If your press release is rejected, you will receive the full refund of your payment. 
      On-Chain News reserves the right to reject any press release at our sole discretion.
     </div>
  </div>
            <div class="divider my-3"></div>
 
<iframe data-aa='2144781' src='//ad.a-ads.com/2144781?size=468x60' style='width:468px; height:60px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
    
  <div>
      <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script>
      <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrz3TNvZKd91IK0o?backgroundColor=gray" frameborder="0" onmousewheel="" width="100%" height="2542" style="background: transparent; border: 1px solid #ccc;"></iframe>
     </div>
</BaseLayout>
