---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Terms">
  <div class="mb-5">
    <div class="text-xl w-full font-normal">Terms & Conditions</div>
  </div>
  
  <div class="mb-5">
   <div class="text-xl w-full normal">
These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Webiste Name accessible at on-chain.news.

By using our Website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use our Website.

Our Website uses cookies. By using our Website and agreeing to these terms and conditions, you consent to our use of cookies in accordance with the terms of our privacy policy.

License to use website

Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.

You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.

You must not:

republish material from this website (including republication on another website);
sell, rent or sub-license material from the website;
show any material from the website in public;
reproduce, duplicate, copy or otherwise exploit material on our website for a commercial purpose;
edit or otherwise modify any material on the website; or
redistribute material from this website except for content specifically and expressly made available for redistribution. Where content is specifically made available for redistribution, it may only be redistributed within your organisation.
Unless explicitly stated otherwise, any new features or functionality added to our website will be subject to these terms and conditions.

Acceptable use
You must not use our website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way
    </div>
  </div>
  
   <div class="mb-5">
    <div class="text-2xl w-full font-semibold">Privacy Policy</div>
  </div>
   
  <div class="mb-5">
    <div class="text-xl w-full font-normal">
 We are committed to protecting your privacy and personal information. This privacy policy explains how we collect, use, and share your personal information when you visit our website.

Collection of personal information
We may collect personal information from you when you visit our website, such as your name, email address, IP address, and browser information. We may also collect personal information from you when you communicate with us through our website, such as when you submit a form or leave a comment.

Use of personal information
We may use your personal information to provide and improve our website, to communicate with you, and for marketing purposes. For example, we may use your personal information to send you newsletters or promotional materials, or to personalize your experience on

   </div>
  </div>
</BaseLayout>
