---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Terms">
  <div class="mb-5">
    <div class="text-xl w-full font-semibold">Terms & Conditions</div>
  </div>
  
  <div class="mb-5">
   <div class="text-xl w-full normal">
These terms and conditions (“Agreement”) set forth the general terms and conditions of your use of the on-chain.news website (“Website” or “Service”) and any of its related products and services (collectively, “Services”). This Agreement is legally binding between you (“User”, “you” or “your”) and this Website operator (“Operator”, “we”, “us” or “our”). If you are entering into this agreement on behalf of a business or other legal entity, you represent that you have the authority to bind such entity to this agreement, in which case the terms “User”, “you” or “your” shall refer to such entity. If you do not have such authority, or if you do not agree with the terms of this agreement, you must not accept this agreement and may not access and use the Website and Services. By accessing and using the Website and Services, you acknowledge that you have read, understood, and agree to be bound by the terms of this Agreement. You acknowledge that this Agreement is a contract between you and the Operator, even though it is electronic and is not physically signed by you, and it governs your use of the Website and Services.

Links to other resources

Although the Website and Services may link to other resources (such as websites, mobile applications, etc.), we are not, directly or indirectly, implying any approval, association, sponsorship, endorsement, or affiliation with any linked resource, unless specifically stated herein. We are not responsible for examining or evaluating, and we do not warrant the offerings of, any businesses or individuals or the content of their resources. We do not assume any responsibility or liability for the actions, products, services, and content of any other third parties. You should carefully review the legal statements and other conditions of use of any resource which you access through a link on the Website. Your linking to any other off-site resources is at your own risk.

Changes and amendments

We reserve the right to modify this Agreement or its terms related to the Website and Services at any time at our discretion. When we do, we will post a notification on the main page of the Website. We may also provide notice to you in other ways at our discretion, such as through the contact information you have provided.

An updated version of this Agreement will be effective immediately upon the posting of the revised Agreement unless otherwise specified. Your continued use of the Website and Services after the effective date of the revised Agreement (or such other act specified at that time) will constitute your consent to those changes.

Acceptance of these terms

You acknowledge that you have read this Agreement and agree to all its terms and conditions. By accessing and using the Website and Services you agree to be bound by this Agreement. If you do not agree to abide by the terms of this Agreement, you are not authorized to access or use the Website and Services. This terms and conditions policy was created with the help of WebsitePolicies.com

Contacting us

If you have any questions, concerns, or complaints regarding this Agreement, we encourage you to contact us using the details below:

admin@on-chain.news
This document was last updated on December 28, 2022
    </div>
  </div>
  
   <div class="mb-5">
    <div class="text-2xl w-full font-semibold">Privacy Policy</div>
  </div>
   
  <div class="mb-5">
    <div class="text-xl w-full font-normal">
On-Chain News is committed to protecting your privacy and personal information. This privacy policy explains how we collect, use, and share your personal information when you visit our website.

Collection of personal information
We may collect personal information from you when you visit our website, such as your name, email address, IP address, and browser information. We may also collect personal information from you when you communicate with us through our website, such as when you submit a form or leave a comment.

Use of personal information
We may use your personal information to provide and improve our website, to communicate with you, and for marketing purposes. For example, we may use your personal information to send you newsletters or promotional materials, or to personalize your experience on our website.

Sharing of personal information
We may share your personal information with third parties for the purpose of providing and improving our website, and for marketing and advertising purposes. These third parties may include analytics platforms, advertising networks, and social media networks.

We may also share your personal information with third parties in response to legal requests or to protect the rights, property, or safety of our business or our users.

Protection of personal information
We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, we cannot guarantee the security of your personal information, and any transmission is at your own risk.

Rights regarding your personal information
You have the right to access, correct, or delete your personal information at any time. You also have the right to opt out of marketing communications or to manage your preferences regarding the collection and use of your personal information.

Changes to this privacy policy
We may update this privacy policy from time to time to reflect changes in our practices or legal requirements. We encourage you to review this privacy policy regularly to stay informed about how we are protecting your personal information.

Contact us
If you have any questions or concerns about our privacy policy or the collection, use, or sharing of your personal information, please contact us at the e-mail address provided below:
    </div>
  </div>
</BaseLayout>
